.chemistry {
  animation: shake infinite 1.2s linear;
  transform-origin: center;
}

.bandaid,
.cube {
  animation: rounding infinite 4s linear;
  transform-origin: center;
}

@keyframes rounding {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(20deg);
  }
}

/* header typography animations*/

.slideTop {
  animation: slideTop 5s;
}

.slideTop {
  animation: slideTop 3s;
}

.slideRight {
  animation: slideRight 3s;
}

.slideBottom {
  animation: slideBottom 3s;
}

.fadeInRight {
  animation: fadeInRight 1.4s;
}

.fadeInLeft {
  animation: fadeInLeft 1.4s;
}

.fadeIn {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
